@charset "utf-8";

/*
/*	Copyright (c) 2021 Marketify
/*	Author: Marketify
/*	This file is made for CURRENT TEMPLATE

01)	KURA BASE
02)	KURA TOPBAR
03) KURA MOBILE MENU
04) KURA HERO
05) KURA PORTFOLIO
06) KURA SKILLS
07) KURA TIMELINE
08) KURA PRICING
09) KURA NEWS
10) KURA CONTACT
11) KURA COPYRIGHT
12) KURA CURSOR
13) KURA MEDIA QUERIES (FOR SMALL DEVIVES)

/* MY CUSTOM */

.sponsors--image {
    border-radius: 10px;
}

.banner-container {
    position: relative;
}

.banner-container-button {
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 7vw;
    text-align: center;
}

.banner-container-button .btn {
    width: 50vw;
    /* background-color: #D0A837; */
    color: white;
    border: 0px solid white ;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

/* .banner-container-button .btn-primary:hover {
    background-color: #927527;
}

.banner-container-button .btn-primary:focus {
    background-color: #927527;
} */

.banner {
    background-size: cover;
    background-position: center;
    /* padding: 41vh 0; */
    padding-top: 60vh;
    height: 100vh;
}

.banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 32px;
    font-weight: bold;
}

.banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn {
    text-decoration: none;
}

.btn-ghost {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.btn-ghost:hover {
    opacity: 1;
}

.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #D0A837;
    transition: background 0.3s ease;
}

.btn-flat:hover {
    background: #D0A837;
    color: white;
}

.btn-gradient {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: bold;
    background: linear-gradient(#167FFB, #0F60C4);
    transition: background 0.3s ease;
    border: 1px solid #0F60C4;
}

.btn-gradient:hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: white;
}

/*---------------------------------------------------*/
/*	01) KURA BASE
/*---------------------------------------------------*/

/* @import "https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"; */
@import "https://fonts.font.im/css?family=Montserrat";

html {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}

body {
    /* font-family: "Montserrat"; */
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    word-wrap: break-word;
    font-weight: 400;
    background-color: #fff;
    color: #767676;
}

svg {
    fill: currentcolor;
    width: 15px;
    height: 15px;
}

img.svg {
    width: 15px;
    height: 15px;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #6f6f6f;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #6f6f6f;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #6f6f6f;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #6f6f6f;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #6f6f6f;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: #6f6f6f;
}

body::-webkit-scrollbar {
    width: 11px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: #999 #fff;
}

body:-webkit-scrollbar-track {
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 6px;
    border: 3px solid #fff;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0px 40px;
    position: relative;
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.2;
    font-family: "Montserrat";
    color: #000;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

.kura_tm_all_wrap {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
}

.kura_tm_all_wrap,
.kura_tm_all_wrap * {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

.kura_tm_section {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

.kura_tm_sticky_section {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    overflow: visible;
    top: 50px;
}

.kura_tm_sticky_section:after {
    clear: both;
    display: table;
    content: "";
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999;
    display: flex;
}

#preloader:before,
#preloader:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background-color: #D0A837;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#preloader:after {
    left: auto;
    right: 0;
}

#preloader .loader_line {
    margin: auto;
    width: 1px;
    height: 250px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}

.loader_line:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #fff;
    -webkit-animation: lineheight 1000ms ease-in-out 0s forwards;
    -o-animation: lineheight 1000ms ease-in-out 0s forwards;
    animation: lineheight 1000ms ease-in-out 0s forwards;
}

.loader_line:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #999999;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-animation: lineround 1200ms linear 0s infinite;
    -o-animation: lineround 1200ms linear 0s infinite;
    animation: lineround 1200ms linear 0s infinite;
    animation-delay: 2000ms;
}

@keyframes lineheight {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@keyframes lineround {
    0% {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(200%);
        -ms-transform: translateY(200%);
        -o-transform: translateY(200%);
        transform: translateY(200%);
    }
}

/*hiding all*/
.preloaded .loader_line:after {
    opacity: 0;
}

.preloaded .loader_line {
    opacity: 0;
    height: 100% !important;
}

.preloaded:before,
.preloaded:after {
    -webkit-animation: preloadedzero 300ms ease-in-out 500ms forwards;
    -o-animation: preloadedzero 300ms ease-in-out 500ms forwards;
    animation: preloadedzero 300ms ease-in-out 500ms forwards;
}

@keyframes preloadedzero {
    0% {
        width: 50%;
    }

    100% {
        width: 0%;
    }
}

/*---------------------------------------------------*/
/*	02) KURA TOPBAR
/*---------------------------------------------------*/

.kura_tm_topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    transform: translateY(-100%);

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

body.opened .kura_tm_topbar {
    transition-delay: 0.4s;
    transform: translateY(0);
}

.kura_tm_topbar .wrapper {
    width: 100%;
    height: auto;
    clear: both;
    float: left;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_topbar.animate .wrapper {
    background-color: rgba(255, 255, 255, 1);
}

.kura_tm_topbar .topbar_inner {
    width: 100%;
    height: auto;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 37px 30px 50px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_topbar.animate .topbar_inner {
    padding: 20px 37px 20px 50px;
}

.kura_tm_topbar .logo img {
    max-width: 300px;
    max-height: 70px;
}

.kura_tm_topbar .menu {
    display: flex;
    align-items: center;
}

.kura_tm_topbar .list {
    padding-right: 40px;
}

.kura_tm_topbar .list ul {
    margin: 0px;
    list-style-type: none;
}

.kura_tm_topbar .list ul li {
    margin: 0px 20px 0px 0px;
    display: inline-block;
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
    position: relative;
    left: 10px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_topbar .list ul li:last-child {
    margin-right: 0px;
}

.kura_tm_topbar .list ul li.opened {
    opacity: 1;
    visibility: visible;
    left: 0px;
}

.kura_tm_topbar .list ul li a {
    text-decoration: none;
    color: #000;
    font-family: "Montserrat";

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_topbar .list ul li a:hover {
    color: #ff4522;
}

.kura_tm_topbar .list ul li.current a {
    color: #ff4522;
}

.kura_tm_topbar .trigger {
    line-height: 1;
}

.trigger .hamburger-inner,
.trigger .hamburger-inner:after,
.trigger .hamburger-inner:before {
    height: 2px;
    width: 30px;
}

.trigger .hamburger {
    padding: 0px;
}

/*---------------------------------------------------*/
/*	03) KURA MOBILE MENU
/*---------------------------------------------------*/

.kura_tm_mobile_menu {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 10;
}

.kura_tm_mobile_menu .mobile_menu_inner {
    width: 100%;
    height: auto;
    float: left;
    clear: both;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 30px 15px 40px;
}

.kura_tm_mobile_menu .mobile_in {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kura_tm_mobile_menu .mobile_in .logo img {
    max-width: 200px;
    max-height: 70px;
}

.kura_tm_mobile_menu .trigger {
    line-height: 0;
}

.kura_tm_mobile_menu .dropdown {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    background-color: #fff;
    display: none;
}

.kura_tm_mobile_menu .dropdown.active {
    display: block;
}

.kura_tm_mobile_menu .dropdown .dropdown_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding: 25px 40px;
}

.kura_tm_mobile_menu .dropdown .dropdown_inner ul {
    margin: 0px;
    list-style-type: none;
}

.kura_tm_mobile_menu .dropdown .dropdown_inner ul li {
    margin: 0px;
    float: left;
    width: 100%;
}

.kura_tm_mobile_menu .dropdown .dropdown_inner ul li a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 0px 0px;
    font-family: "Montserrat";
    font-weight: 500;
}

/*---------------------------------------------------*/
/*	04) KURA HERO
/*---------------------------------------------------*/

.kura_tm_hero {
    width: 100%;
    /* min-height: 100vh; */
    float: left;
    clear: both;
    background-color: #f9f9f9;
    padding-top: 150px;
}

.kura_tm_hero .container {
    min-height: 100%;
}

.kura_tm_hero .content {
    width: 100%;
    /* min-height: 100vh; */
    min-height: 80vh;
    display: flex;
    align-items: center;
    position: relative;
}

.kura_tm_hero .content .left {
    width: 50%;
    padding-right: 50px;
    position: relative;
    opacity: 0;
    visibility: hidden;
    top: 20px;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


.kura_tm_hero .content .left2 {
    width: 50%;
    /* padding-right: 50px; */
    position: relative;
    opacity: 0;
    visibility: hidden;
    top: 20px;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}




body.opened .kura_tm_hero .content .left {
    opacity: 1;
    visibility: visible;
    top: 0px;
}

body.opened .kura_tm_hero .content .left2 {
    opacity: 1;
    visibility: visible;
    top: 0px;
}

.kura_tm_hero .name {
    display: inline-block;
    margin-bottom: 16px;
    color: #ff4522;
    font-family: "Montserrat";
    font-weight: 500;
}

.kura_tm_hero .job {
    font-size: 45px;
    font-weight: 800;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.kura_tm_hero .services {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-bottom: 35px;
}

.kura_tm_hero .services ul {
    margin: 0px;
    list-style-type: none;
}

.kura_tm_hero .services ul li {
    width: 100%;
    float: left;
    margin: 0px;
}

.kura_tm_hero .services ul li a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    display: inline-block;
    padding: 8px 0px;
    position: relative;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_hero .services ul li .svg {
    position: relative;
    top: 2px;
    width: 17px;
    height: 17px;
    left: 10px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_hero .services ul li a:hover {
    color: #ff4522;
}

.kura_tm_hero .services ul li a:hover .svg {
    transform: rotate(-50deg);
    color: #ff4522;
}

.kura_tm_hero .services ul li .image {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -111;
}

.kura_tm_modalbox {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100vh;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_modalbox.opened {
    opacity: 1;
    visibility: visible;
}

.kura_tm_modalbox .box_inner {
    position: absolute;
    top: 70px;
    bottom: 70px;
    width: 968px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    margin-top: -20px;
    transition-delay: 0.3s;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_modalbox.opened .box_inner {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}

.kura_tm_modalbox .close {
    position: fixed;
    left: 100%;
    top: 0px;
    margin-left: 20px;
    z-index: 111111;
}

.kura_tm_modalbox .close a {
    text-decoration: none;
    color: #fff;
}

.kura_tm_modalbox .close .svg {
    width: 50px;
    height: 50px;
}

.kura_tm_modalbox .description_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    padding: 50px;
    overflow-y: scroll;
}

.kura_tm_hero .popup_informations {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -11;
    display: none;
}

.kura_tm_modalbox .popup_informations {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

.kura_tm_modalbox .popup_informations .image {
    position: relative;
    margin-bottom: 37px;
}

.kura_tm_modalbox .popup_informations .image img {
    position: relative;
    opacity: 0;
    min-width: 100%;
}

.kura_tm_modalbox .popup_informations .image .main {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.kura_tm_modalbox .popup_informations .title {
    width: 100%;
    float: left;
    margin-bottom: 22px;
}

.kura_tm_modalbox .title h3 {
    font-size: 22px;
}

.kura_tm_modalbox .description {
    width: 100%;
    float: left;
}

.kura_tm_modalbox .description p {
    margin-bottom: 15px;
}

.kura_tm_modalbox .description p:last-child {
    margin-bottom: 0px;
}

.kura_tm_modalbox .description_wrap::-webkit-scrollbar {
    width: 11px;
}

.kura_tm_modalbox .description_wrap {
    scrollbar-width: thin;
    scrollbar-color: #999 #fff;
}

.kura_tm_modalbox .description_wrap:-webkit-scrollbar-track {
    background: #fff;
}

.kura_tm_modalbox .description_wrap::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 6px;
    border: 3px solid #fff;
}

.kura_tm_hero .short_info {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

.kura_tm_hero .short_info ul {
    margin: 0px;
    list-style-type: none;
}

.kura_tm_hero .short_info ul li {
    margin: 0px 50px 15px 0px;
    display: inline-block;
}

.kura_tm_hero .short_info ul li:last-child {
    margin-right: 0px;
}

.kura_tm_hero .short_info ul li .list_inner {
    display: flex;
    align-items: center;
}

.kura_tm_hero .short_info ul li h3 {
    font-size: 45px;
    font-weight: 600;
}

.kura_tm_hero .short_info ul li span {
    font-family: "Montserrat";
    padding-left: 15px;
    display: inline-block;
    line-height: 1.4;
    position: relative;
    top: -3px;
    font-size: 14px;
}

.kura_tm_hero .content .right {
    width: 50%;
    text-align: right;
    /* padding-left: 200px; */
    position: relative;
    opacity: 0;
    visibility: hidden;
    top: 20px;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.kura_tm_hero .content .right2 {
    width: 50%;
    text-align: right;
    padding-left: 50px;
    position: relative;
    opacity: 0;
    visibility: hidden;
    top: 20px;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

body.opened .kura_tm_hero .content .right {
    opacity: 1;
    visibility: visible;
    top: 0px;
}

body.opened .kura_tm_hero .content .right2 {
    opacity: 1;
    visibility: visible;
    top: 0px;
}

.kura_tm_hero .content .right .image {
    position: relative;
}

.kura_tm_hero .content .right .image img {
    min-width: 100%;
    position: relative;
    opacity: 0;
}

.kura_tm_hero .content .right .image .main {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(0deg);
    z-index: 2;
    border-radius: 10px;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

body.opened .kura_tm_hero .content .right .image .main {
    transform: rotate(7deg);
}

.kura_tm_hero .content .right .image .shape {
    position: absolute;
    top: 23px;
    bottom: -23px;
    left: -95px;
    width: 90%;
    background-color: #ff4522;
    transform: rotate(0deg);
    z-index: 1;
    border-radius: 10px;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

body.opened .kura_tm_hero .content .right .image .shape {
    transform: rotate(-6deg);
}

.kura_tm_hero .down {
    position: absolute;
    /* left: 0px; */
    bottom: 8%;
    opacity: 0;
    visibility: hidden;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

body.opened .kura_tm_hero .down {
    opacity: 1;
    visibility: visible;
    /* bottom: 10%; */
    bottom: 13%;
    /* arrow down */
}

.kura_tm_hero .down .svg {
    width: 40px;
    height: 40px;
    animation: scroll ease 2s infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(20px);
    }
}

.kura_tm_hero .down a {
    text-decoration: none;
    color: #000;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_hero .down a:hover {
    color: #ff4522;
}

/*---------------------------------------------------*/
/*	05) KURA PORTFOLIO
/*---------------------------------------------------*/

.kura_tm_main_title {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

.kura_tm_main_title span {
    display: inline-block;
    margin-bottom: 10px;
    color: #ff4522;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 25px;
}

.kura_tm_main_title h3 {
    font-weight: 800;
    text-transform: uppercase;
}

.kura_tm_portfolio {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding: 140px 0px 138px 0px;
}

.kura_tm_portfolio .portfolio_list {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding-top: 92px;
}

.kura_tm_portfolio .portfolio_list .list_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

.kura_tm_portfolio .portfolio_list .image {
    position: relative;
}

.kura_tm_portfolio .portfolio_list .image img {
    position: relative;
    min-width: 100%;
    opacity: 0;
}

.kura_tm_portfolio .portfolio_list .image .main {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.kura_tm_portfolio .portfolio_list .overlay {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_portfolio .portfolio_list .list_inner:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.kura_tm_portfolio .portfolio_list .details {
    position: absolute;
    z-index: 2;
    bottom: 41px;
    left: 20px;
    opacity: 0;
    visibility: hidden;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_portfolio .portfolio_list .list_inner:hover .details {
    opacity: 1;
    visibility: visible;
}

.kura_tm_portfolio .portfolio_list .details h3 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 4px;
}

.kura_tm_portfolio .portfolio_list .details span {
    font-family: "Montserrat";
}

.kura_tm_portfolio .portfolio_list .image .svg {
    position: absolute;
    top: 40px;
    right: -120px;
    width: 50px;
    height: 50px;
    z-index: 2;
    transform: rotate(-50deg);
    color: #000;
    opacity: 0;
    visibility: hidden;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_portfolio .portfolio_list .list_inner:hover .image .svg {
    opacity: 1;
    visibility: visible;
}

.kura_tm_full_link {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 5;
}

.kura_tm_swiper_progress {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    clear: both;
    margin-top: 27px;
}

.kura_tm_swiper_progress .my_pagination_in {
    float: left;
    position: relative;
}

.kura_tm_swiper_progress span {
    display: block;
    float: left;
    font-size: 16px;
    letter-spacing: 0;
    color: #000;
    height: 22px;
    line-height: 22px;
}

.kura_tm_swiper_progress .pagination_progress {
    width: 100px;
    margin: 0 20px;
    position: relative;
}

.kura_tm_swiper_progress .pagination_progress .all {
    height: 1px;
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    top: 50%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.kura_tm_swiper_progress .pagination_progress .all span {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    transform-origin: left top;
    transform: scale(0);

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_swiper_progress .my_navigation {
    position: relative;
    top: 6px;
}

.kura_tm_swiper_progress .my_navigation ul {
    margin: 0px;
    list-style-type: none;
}

.kura_tm_swiper_progress .my_navigation ul li {
    margin: 0px 10px 0px 0px;
    display: inline-block;
}

.kura_tm_swiper_progress .my_navigation ul li:last-child {
    margin-right: 0px;
}

.kura_tm_swiper_progress .my_navigation ul li a {
    text-decoration: none;
    color: #000;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_swiper_progress .my_navigation ul li a:hover {
    color: #ff4522;
}

.kura_tm_swiper_progress .my_navigation ul li .svg {
    width: 27px;
    height: 27px;
}

.kura_tm_swiper_progress .my_navigation ul li .my_prev .svg {
    transform: rotate(180deg);
}

.kura_tm_swiper_progress .my_navigation ul li .my_prev2 .svg {
    transform: rotate(180deg);
}


/*---------------------------------------------------*/
/*	06) KURA SKILLS
/*---------------------------------------------------*/

.kura_tm_skills {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
    padding: 140px 0px 150px 0px;
}

.kura_tm_skills:before {
    position: absolute;
    content: "";
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url(..//img/patterns/white-texture.png);
    background-repeat: repeat;
    opacity: 0.6;
    z-index: 2;
}

.kura_tm_skills:after {
    position: absolute;
    content: "";
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #000;
    z-index: 1;
}

.kura_tm_main_title.light h3 {
    color: #fff;
}

.kura_tm_skills .skills_inner {
    width: 100%;
    float: left;
    height: auto;
    clear: both;
    position: relative;
    z-index: 3;
}

.kura_tm_skills .left {
    width: 60%;
    padding-right: 200px;
}

.kura_tm_skills .text {
    width: 100%;
    float: left;
    margin-top: 40px;
    margin-bottom: 44px;
}

.kura_tm_skills .text p {
    color: #bbb;
}

.dodo_progress {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

.progress_inner {
    width: 100%;
    margin-bottom: 25px;
}

.progress_inner:last-child {
    margin-bottom: 0px;
}

.progress_inner>span {
    margin: 0px 0px 11px 0px;
    width: 100%;
    display: block;
    text-align: left;
    color: #fff;
    font-family: "Montserrat";
}

.progress_inner span.number {
    float: right;
}

.progress_inner .background {
    background: rgba(255, 255, 255, 0.09);
    width: 100%;
    min-width: 100%;
    position: relative;
    height: 8px;
}

.progress_inner .background .bar_in {
    height: 100%;
    background: #ff4522;
    width: 0px;
    overflow: hidden;
}

.progress_inner .background .bar {
    width: 0px;
    height: 100%;
}

.progress_inner .background .bar.open {
    -webkit-animation: wow 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    /* Safari 4+ */
    -moz-animation: wow 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    /* Fx 5+ */
    animation: wow 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    /* IE 10+ */
    width: 100%;
}

@-webkit-keyframes wow {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@-moz-keyframes wow {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes wow {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.kura_tm_skills .right {
    width: 40%;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: -220px;
}

.kura_tm_skills .my_video {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.kura_tm_skills .my_image {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.kura_tm_skills .right[data-background-style="video"] .my_image {
    display: none;
}

.kura_tm_skills .right[data-background-style="image"] .my_video {
    display: none;
}

/*---------------------------------------------------*/
/*	07) KURA TIMELINE
/*---------------------------------------------------*/

.kura_tm_timeline {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding: 140px 0px 113px 0px;
}

.kura_tm_timeline .timeline_list {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding-top: 54px;
}

.kura_tm_timeline .timeline_list ul {
    margin: 0px;
    list-style-type: none;
}

.kura_tm_timeline .timeline_list ul li {
    margin: 0px;
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 27px 0px 30px 0px;
}

.kura_tm_timeline .timeline_list ul li:last-child {
    border-bottom: none;
}

.kura_tm_timeline .timeline_list ul li .list_inner {
    width: 33.3333%;
    float: left;
    padding-right: 40px;
}

.kura_tm_timeline .timeline_list ul li .list_inner:last-child {
    padding-right: 0px;
}

.kura_tm_timeline .timeline_list ul li .list_inner span {
    display: inline-block;
    font-size: 18px;
}

.kura_tm_timeline .timeline_list ul li .list_inner:nth-child(2) span {
    color: #000;
}

/*---------------------------------------------------*/
/*	08) KURA PRICING
/*---------------------------------------------------*/

.kura_tm_pricing {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding: 80px 0px 150px 0px;
    background-color: #f9f9f9;
}

.kura_tm_pricing .kura_tm_main_title {
    margin-top: 58px;
}

.kura_tm_pricing .pricing_inner {
    width: 100%;
    height: auto;
    clear: both;
    display: flex;
}

.kura_tm_pricing .left {
    width: 50%;
    padding-right: 100px;
}

.kura_tm_pricing .left .text {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.kura_tm_pricing .right {
    width: 50%;
    padding-left: 100px;
}

.kura_tm_pricing .right ul {
    margin: 0px;
    list-style-type: none;
    margin-top: 58px;
}

.kura_tm_pricing .right ul li {
    margin: 0px;
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.kura_tm_pricing .right ul li:last-child {
    margin-bottom: 0px;
}

.kura_tm_pricing .right ul li .list_inner {
    width: 100%;
    height: auto;
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 60px;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_pricing .right ul li .list_inner:hover {
    background-color: #ff4522;
}

.kura_tm_pricing .right ul li span {
    font-size: 18px;
    color: #000;
    font-family: "Montserrat";

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_pricing .right ul li .list_inner:hover span {
    color: #fff;
}

.kura_tm_pricing .right .title {
    padding-right: 30px;
}

.kura_tm_pricing .right .svg {
    position: absolute;
    left: 30px;
    width: 18px;
    height: 18px;
    top: 50%;
    transform: translateY(-50%);
    color: #ff4522;
    margin-top: -1px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_pricing .right ul li .list_inner:hover .svg {
    color: #fff;
}

/*---------------------------------------------------*/
/*	09) KURA NEWS
/*---------------------------------------------------*/

.kura_tm_news {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding: 140px 0px 140px 0px;
}

.kura_tm_news .news_list {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding-top: 92px;
}

.kura_tm_news .news_list .list_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

.kura_tm_news .news_list .image {
    position: relative;
}

.kura_tm_news .news_list .image img {
    position: relative;
    min-width: 100%;
    opacity: 0;
}

.kura_tm_news .news_list .image .main {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.kura_tm_news .news_list .overlay {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_news .news_list .list_inner:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.kura_tm_news .news_list .details {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 0px;
    padding: 0px 40px 45px 49px;
    opacity: 0;
    visibility: hidden;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_news .news_list .list_inner:hover .details {
    opacity: 1;
    visibility: visible;
}

.kura_tm_news .news_list .details h3 {
    font-size: 20px;
    font-weight: 700;
}

.kura_tm_news .news_list .details span {
    font-family: "Montserrat";
    margin-bottom: 6px;
    display: inline-block;
}

.kura_tm_news .news_list .list_inner .svg {
    position: absolute;
    top: 40px;
    right: 39px;
    width: 50px;
    height: 50px;
    z-index: 2;
    transform: rotate(-50deg);
    color: #000;
    opacity: 0;
    visibility: hidden;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_news .news_list .list_inner:hover .svg {
    opacity: 1;
    visibility: visible;
}

.kura_tm_news .news_hidden_details {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -11;
}

.kura_tm_modalbox .news_popup_informations {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

.kura_tm_modalbox .news_popup_informations .image {
    position: relative;
    margin-bottom: 37px;
}

.kura_tm_modalbox .news_popup_informations .image img {
    position: relative;
    opacity: 0;
    min-width: 100%;
}

.kura_tm_modalbox .news_popup_informations .image .main {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.kura_tm_modalbox .news_popup_informations .details {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.kura_tm_modalbox .news_popup_informations .details span {
    display: inline-block;
    margin-bottom: 7px;
}

.kura_tm_modalbox .news_popup_informations .details h3 {
    font-size: 22px;
}

.kura_tm_modalbox .news_popup_informations .text {
    width: 100%;
    float: left;
}

.kura_tm_modalbox .news_popup_informations .text p {
    margin-bottom: 15px;
}

.kura_tm_modalbox .news_popup_informations .text p:last-child {
    margin-bottom: 0px;
}

/*---------------------------------------------------*/
/*	10) KURA CONTACT
/*---------------------------------------------------*/

.kura_tm_contact {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    background-color: #f9f9f9;
    padding: 140px 0px 119px 0px;
}

.kura_tm_contact .contact_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    display: flex;
    margin-top: 40px;
}

.kura_tm_contact .contact_inner2 {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    display: flex;
    margin-top: 40px;
}

.kura_tm_contact .left {
    width: 50%;
    padding-right: 100px;
}

.kura_tm_contact .left .text {
    width: 100%;
    float: left;
    margin-bottom: 42px;
}

.kura_tm_contact .short {
    width: 100%;
    float: left;
}

.kura_tm_contact .short ul {
    margin: 0px;
    list-style-type: none;
}

.kura_tm_contact .short ul li {
    margin: 0px 0px 23px 0px;
    width: 100%;
    float: left;
}

.kura_tm_contact .short ul li .list_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
    padding-left: 30px;
}

.kura_tm_contact .short ul li .list_inner .svg {
    position: absolute;
    left: 0px;
    width: 18px;
    height: 18px;
    top: 50%;
    margin-top: -1px;
    transform: translateY(-50%);
    color: #ff4522;
}

.kura_tm_contact .short ul li .list_inner span {
    font-size: 18px;
    color: #000;
    font-family: "Montserrat";
}

.kura_tm_contact .right {
    width: 50%;
    padding-left: 100px;
}

.kura_tm_contact .fields {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

.kura_tm_contact .fields .first {
    width: 100%;
    float: left;
}

.kura_tm_contact .fields ul {
    margin: 0px;
    list-style-type: none;
}

.kura_tm_contact .fields ul li {
    width: 100%;
    margin: 0px 0px 30px 0px;
    float: left;
}

.kura_tm_contact .fields ul li input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

.kura_tm_contact .fields ul li input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.kura_tm_contact .fields .last textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 44px;
    resize: none;
    margin-bottom: 20px;
    background-color: transparent;
}

.kura_tm_contact .fields .last textarea:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.kura_tm_contact .empty_notice {
    color: #f52225;
    margin-bottom: 7px;
    display: none;
    text-align: left;
    font-weight: 500;
}

.kura_tm_contact .contact_error {
    color: #f52225;
    text-align: left;
    font-weight: 500;
}

.kura_tm_contact .returnmessage {
    color: #3a00ff;
    margin-bottom: 7px;
    text-align: left;
    font-weight: 500;
}

.kura_tm_button {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

.kura_tm_button a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    display: block;
    text-align: center;
    padding: 8px 20px;
    position: relative;
    background-color: #ff4522;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_button a .svg {
    position: relative;
    top: 2px;
    width: 17px;
    height: 17px;
    left: 10px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_button a:hover {
    color: #fff;
    background-color: #000;
}

.kura_tm_button a:hover .svg {
    transform: rotate(-50deg);
}

/*---------------------------------------------------*/
/*	11) KURA COPYRIGHT
/*---------------------------------------------------*/

.kura_tm_copyright {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    background-color: #000;
    padding: 32px 0px 16px 0px;
    text-align: center;
}

.kura_tm_copyright .copyright_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kura_tm_copyright .text p {
    color: #fff;
}

.kura_tm_copyright .social ul {
    margin: 0px;
    list-style-type: none;
}

.kura_tm_copyright .social ul li {
    margin: 0px 20px 0px 0px;
    display: inline-block;
}

.kura_tm_copyright .social ul li:last-child {
    margin-right: 0px;
}

.kura_tm_copyright .social ul li a {
    text-decoration: none;
    color: #fff;
}

/*---------------------------------------------------*/
/*	12) KURA CURSOR
/*---------------------------------------------------*/

.mouse-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden;
}

.cursor-inner {
    margin-left: -3px;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    z-index: 100;
    background-color: #ff4522;
    -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
        margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
        margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.cursor-inner.cursor-hover {
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    background-color: #ff4522;
    opacity: 0.3;
}

.cursor-outer {
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    border: 2px solid #ff4522;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 100;
    opacity: 0.5;
    -webkit-transition: all 0.08s ease-out;
    transition: all 0.08s ease-out;
}

.cursor-outer.cursor-hover {
    opacity: 0;
}

.kura_tm_all_wrap[data-magic-cursor="hide"] .mouse-cursor {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -1111;
}

/*---------------------------------------------------*/
/*  ARLO SETTINGS
/*---------------------------------------------------*/

.kura_tm_settings {
    position: fixed;
    z-index: 10;
    top: 25%;
    right: -200px;
    width: 200px;
    background-color: rgba(0, 0, 0, 1);
    padding: 40px 20px 33px 30px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_settings.opened {
    right: 0px;
}

.kura_tm_settings .wrapper {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

.kura_tm_settings .icon {
    position: absolute;
    top: 0px;
    right: 100%;
    background-color: #000;
    padding: 12px 12px 4px 12px;
}

.kura_tm_settings .icon .svg {
    color: #fff;
    width: 25px;
    height: 25px;
    animation: fa-spin 2s infinite linear;
}

.kura_tm_settings .link {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.kura_tm_settings .title {
    color: #fff;
    font-family: "Montserrat";
    font-weight: 600;
    position: relative;
    display: inline-block;
}

.kura_tm_settings .title:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    left: 0px;
    bottom: 0px;
}

.kura_tm_settings .colors {
    margin: 0px 0px 22px 0px;
    list-style-type: none;
    padding-top: 32px;
}

.kura_tm_settings .colors li {
    margin: 0px;
    display: inline-block;
}

.kura_tm_settings .colors li a {
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.kura_tm_settings .direction {
    list-style-type: none;
    margin: 0px;
}

.kura_tm_settings .direction li {
    margin: 0px 20px 0px 0px;
    display: inline-block;
}

.kura_tm_settings .direction li a {
    opacity: 0.4;
    text-decoration: none;
    color: #fff;
}

.kura_tm_settings .direction li a.active {
    opacity: 1;
}

.kura_tm_settings .direction li .svg {
    width: 25px;
    height: 25px;
}

.kura_tm_settings .colors li.bl {
    display: inline-block;
}

.kura_tm_settings .colors li.wh {
    display: none;
}

body.dark .kura_tm_settings .colors li.bl,
.kura_tm_settings.changed .colors li.bl {
    display: none;
}

body.dark .kura_tm_settings .colors li.wh,
.kura_tm_settings.changed .colors li.wh {
    display: inline-block;
}

body.dark .kura_tm_settings,
.kura_tm_settings.changed {
    background-color: #fff;
}

body.dark .kura_tm_settings .icon,
.kura_tm_settings.changed .icon {
    background-color: #fff;
}

body.dark .kura_tm_settings .icon .svg,
.kura_tm_settings.changed .icon .svg {
    color: #000;
}

body.dark .kura_tm_settings .title,
.kura_tm_settings.changed .title {
    color: #000;
}

body.dark .kura_tm_settings .title:before,
.kura_tm_settings.changed .title:before {
    background-color: rgba(0, 0, 0, 0.5);
}

body.dark .kura_tm_settings .direction li a,
.kura_tm_settings.changed .direction li a {
    color: #000;
}

body.dark .kura_tm_settings .cursor li:nth-child(1) a,
.kura_tm_settings.changed .cursor li:nth-child(1) a {
    border-color: #000;
}

body.dark .kura_tm_settings .cursor li:nth-child(1) a:before,
.kura_tm_settings.changed .cursor li:nth-child(1) a:before {
    background-color: #000;
}

body.dark .kura_tm_settings .cursor li .svg,
.kura_tm_settings.changed .cursor li .svg {
    color: #000;
}

.kura_tm_settings .cursor {
    margin: 0px;
    list-style-type: none;
    padding-top: 20px;
}

.kura_tm_settings .cursor li {
    margin: 0px 20px 0px 0px;
    display: inline-block;
}

.kura_tm_settings .cursor li a {
    text-decoration: none;
    color: #fff;
    opacity: 0.4;
    font-weight: 600;
}

.kura_tm_settings .cursor li a.showme {
    opacity: 1;
}

.kura_tm_settings .cursor li:nth-child(1) a {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #fff;
    position: relative;
    display: inline-block;
}

.kura_tm_settings .cursor li:nth-child(1) a:before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.kura_tm_settings .cursor li .svg {
    width: 25px;
    height: 25px;
    color: #fff;
}

.kura_tm_settings .cursor li:nth-child(2) {
    position: relative;
    top: -2px;
}

.kura_tm_settings .effect {
    margin: 0px;
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 25px;
}

.kura_tm_settings .effect li {
    margin: 0px 0px 5px 0px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
    background-color: #fff;
    opacity: 0.4;
}

.kura_tm_settings .effect li a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    font-family: "Montserrat";
    display: block;
    position: relative;
    top: 2px;
}

.kura_tm_settings .effect li.selected {
    background-color: #fff;
    opacity: 1;
}

/*---------------------------------------------------*/
/*	 KURA INTRO
/*---------------------------------------------------*/

.kura_tm_intro .short_info {
    position: fixed;
    top: 10%;
    width: 100%;
    text-align: center;
}

.kura_tm_intro .short_info img {
    margin-bottom: 25px;
    max-width: 110px;
}

.kura_tm_intro .short_info h3 {
    font-size: 20px;
    color: #767676;
}

.kura_tm_intro {
    width: 100%;
    height: 100vh;
    clear: both;
    float: left;
    position: relative;
}

.kura_tm_intro .demos {
    width: 100%;
    height: 100%;
    clear: both;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}

.kura_tm_intro .left,
.kura_tm_intro .right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.kura_tm_intro .demos img {
    max-width: 400px;
    margin-bottom: 25px;
}

.kura_tm_intro .desc {
    position: relative;
    top: 0px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.kura_tm_intro .desc h3 {
    font-size: 20px;
    font-weight: 800;
}

.kura_tm_intro .intro_line,
.kura_tm_intro .intro_line_2,
.kura_tm_intro .intro_line_3 {
    position: fixed;
    top: 0px;
    width: 1px;
    height: 200%;
    left: 50%;
    transform: translateY(-50%);
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.06);
}

.kura_tm_intro .intro_line {
    left: 25%;
}

.kura_tm_intro .intro_line_2 {
    left: 50%;
    transform: translateY(-50%);
}

.kura_tm_intro .intro_line_3 {
    left: 75%;
}

.kura_tm_intro .intro_link {
    position: absolute;
    z-index: 2;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.kura_tm_intro .left:hover .desc {
    top: -20px;
}

.kura_tm_intro .right:hover .desc {
    top: -20px;
}

.kura_tm_intro_fixed_price .pricing-info,
.kura_tm_intro_fixed_price .anim {
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat";
    background-color: #e54b4b;
    position: fixed;
    font-size: 22px;
    text-align: center;
    z-index: 3;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    line-height: 70px;
    display: inline-block;
    left: 50%;
    bottom: 10%;
    margin-left: -35px;
    font-weight: 600;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

@-webkit-keyframes myAnim {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes myAnim {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}

.kura_tm_intro_fixed_price .anim:nth-child(1) {
    -webkit-animation: myAnim 2s infinite;
    animation: myAnim 2s infinite;
}

.kura_tm_intro_fixed_price .anim:nth-child(2) {
    -webkit-animation: myAnim 2s infinite 0.3s;
    animation: myAnim 2s infinite 0.3s;
}

.kura_tm_intro_fixed_price .anim:nth-child(3) {
    -webkit-animation: myAnim 2s infinite 0.6s;
    animation: myAnim 2s infinite 0.6s;
}

/*---------------------------------------------------*/
/*	13) KURA MEDIA QUERIES (FOR SMALL DEVIVES)
/*---------------------------------------------------*/

@media (max-width: 1400px) {
    .container {
        max-width: 1170px;
    }

    .kura_tm_hero .name {
        margin-bottom: 10px;
    }

    .kura_tm_hero .job {
        font-size: 40px;
    }

    .kura_tm_hero .services ul li a {
        padding: 6px 0px;
    }

    .kura_tm_modalbox .box_inner {
        width: 700px;
    }
}

@media (max-width: 1040px) {
    .mouse-cursor {
        display: none;
    }

    .kura_tm_topbar {
        display: none;
    }

    .kura_tm_mobile_menu {
        display: block;
    }

    .kura_tm_hero {
        /* padding: 150px 0px 120px 0px; */
        padding: 12vw 0px 0px 0px;
    }

    .kura_tm_hero .content {
        /* flex-direction: column-reverse; */
        flex-direction: column;
        justify-content: space-around;
        align-items: baseline;
    }

    .kura_tm_hero .content .right {
        padding-top: 50px;
        padding-left: 0px;
        margin-bottom: 60px;
        width: 100%;
    }

    .kura_tm_hero .content .right2 {
        padding-top: 50px;
        padding-left: 50px;
        margin-bottom: 60px;
        width: 100%;
    }

    .kura_tm_hero .content .left {
        padding-top: 50px;
        padding-right: 0px;
        width: 100%;
    }

    .kura_tm_hero .content .left2 {
        padding-top: 50px;
        padding-right: 0px;
        width: 100%;
    }

    .kura_tm_hero .content .right .image .shape {
        display: none;
    }

    .kura_tm_hero .content .right .image .main {
        transform: rotate(0deg);
    }

    body.opened .kura_tm_hero .content .right .image .main {
        transform: rotate(0deg);
    }

    .kura_tm_hero .job {
        font-size: 35px;
    }

    .kura_tm_hero .down {
        display: none;
    }

    .kura_tm_skills .right {
        display: none;
    }

    .kura_tm_skills .left {
        width: 100%;
        padding-right: 0px;
    }

    .kura_tm_pricing .pricing_inner {
        flex-direction: column;
    }

    .kura_tm_pricing .left {
        width: 100%;
        padding-right: 0px;
    }

    .kura_tm_pricing .right {
        width: 100%;
        padding-left: 0px;
    }

    .kura_tm_contact .contact_inner {
        flex-direction: column;
    }

    .kura_tm_contact .contact_inner2 {
        /* flex-direction: column; */
    }

    .kura_tm_contact .left {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 30px;
    }

    .kura_tm_contact .right {
        width: 100%;
        padding-left: 0px;
    }

    .kura_tm_modalbox .box_inner {
        width: 500px;
    }

    .kura_tm_modalbox .close .svg {
        width: 40px;
        height: 40px;
    }

    .kura_tm_intro .demos img {
        max-width: 100px;
    }
}

@media (max-width: 768px) {
    .kura_tm_hero .job {
        font-size: 30px;
    }

    .kura_tm_hero .name {
        padding-top: 40px;
    }

    .kura_tm_hero {
        /* padding: 150px 0px 120px 0px; */
        padding: 20vw 0px 0px 0px;
    }

    .kura_tm_hero .short_info ul li h3 {
        font-size: 35px;
    }

    .kura_tm_hero .short_info ul li span {
        font-size: 13px;
    }

    .kura_tm_portfolio .portfolio_list .image .svg {
        width: 35px;
        height: 35px;
        top: 33px;
        right: 32px;
    }

    .kura_tm_portfolio .portfolio_list .details {
        bottom: 31px;
        left: 39px;
    }

    .kura_tm_portfolio .portfolio_list .details h3 {
        font-size: 18px;
    }

    .kura_tm_main_title h3 {
        font-size: 25px;
    }

    .kura_tm_main_title span {
        margin-bottom: 6px;
    }

    .kura_tm_timeline .timeline_list ul li .list_inner {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 15px;
    }

    .kura_tm_timeline .timeline_list ul li .list_inner:last-child {
        margin-bottom: 0px;
    }

    .kura_tm_pricing .right ul li span {
        font-size: 16px;
    }

    .kura_tm_news .news_list .list_inner .svg {
        width: 35px;
        height: 35px;
        top: 33px;
        right: 32px;
    }

    .kura_tm_news .news_list .details {
        padding: 0px 30px 36px 39px;
    }

    .kura_tm_news .news_list .details h3 {
        font-size: 15px;
    }

    .kura_tm_contact .short ul li .list_inner span {
        font-size: 16px;
    }

    .kura_tm_copyright .copyright_inner {
        flex-direction: column;
    }

    .kura_tm_copyright .copyright_inner .text {
        margin-bottom: 10px;
    }

    .kura_tm_modalbox .box_inner {
        width: 360px;
    }

    .kura_tm_modalbox .close .svg {
        width: 20px;
        height: 20px;
    }

    .kura_tm_modalbox .close {
        margin-left: 10px;
    }

    .kura_tm_modalbox .description_wrap {
        padding: 30px;
    }

    .kura_tm_modalbox .title h3 {
        font-size: 20px;
    }

    .kura_tm_modalbox .news_popup_informations .details h3 {
        font-size: 20px;
    }
}

html {
    scroll-behavior: smooth;
}